:root {
  --primary: #25abd9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.section {
  align-items: center;
  background: #dcf5ff no-repeat 50% / cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.section:nth-of-type(even) {
  background-color: #eee;
}

.loading > div {
  background-color: var(--primary);
}
