* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background-size: 300% 300%;
  background-position: 50%;

  animation: gradientBackground 5s ease-in-out infinite;
}

.header {
  color: white;
  font-family: Montserrat, serif;
  font-size: 50px;
}

@keyframes gradientBackground {
  0% {
    background-position: 0;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0;
  }
}
