:root {
  --primary: #25abd9;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #dcf5ff;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
}

.card {
  position: relative;
  width: 250px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 5px 15px -4px #000;
  transform-style: preserve-3d;
  transition: transform .6s ease-in-out;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #000;
  overflow: hidden;
}

.card__face--front {
  pointer-events: none;
}

.card__face--back {
  flex-direction: column;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: no-repeat 50% / cover;
  
}

.card__image--1 {
  background-image: url('./pexels-photo-1122639.jpeg');
}

.card__image--2 {
  background-image: url('./pexels-photo-3565601.jpeg');
}

.card__image--3 {
  background-image: url('./pexels-photo-3750768.jpeg');
}

.card__header,
.card__text {
  color: #fff;
  font-family: Montserrat, serif;
  position: relative;
}

.social-list {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 80%;
}

.social__item {
  list-style: none;
}

.social__anchor {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

/* Hover */

.social__anchor:hover {
  color: var(--primary);
}

.card:hover {
  transform: rotateY(180deg);
}