* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

section {
  align-items: center;
  background: no-repeat 50% / cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 100px 0;
}

.section__header {
  font-family: Montserrat, serif;
  font-size: 75px;
}

.section--1 {
  background-image: url('./pexels-photo-540518.webp');
}

.section--2 {
  background-image: url('./pexels-photo-3727271.jpeg');
}

.section--3 {
  background-image: url('./amazing-animal-beautiful-beautifull.webp');
}

.scroll {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, serif;
  font-size: 16px;
}

.scroll__icon {
  font-size: 50px;
}

.scroll__icon--1 {
  transform: translateY(-10px);
  animation: down 2s infinite;
}

.scroll__icon--2 {
  transform: translateY(-30px);
  opacity: 0;
  animation: fading 2s infinite;
}

.scroll__icon--3 {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 30px;
  border: 2px solid white;
  border-radius: 20px;
}

.scroll__icon--3::before {
  content: '';
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: white;
  transform: translateY(5px);
  animation: mouseScroll 2s infinite;
}

@keyframes down {
  0% {
    transform: translateY(-10px);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }
}

@keyframes fading {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes mouseScroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(45px);
  }
}